In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'antropometria-dataset.csv'

In [3]:
df = pd.read_csv(path)

# df = pd.read_csv('antropometria-dataset.csv')

In [4]:
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [5]:
df.shape

(18640, 26)

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

In [8]:
len(df.columns)

26

In [9]:
len(df.index)

18640

In [10]:
df.index

RangeIndex(start=0, stop=18640, step=1)

In [11]:
a = df
a

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [12]:
a.index

RangeIndex(start=0, stop=18640, step=1)

In [13]:
a = df.iloc[:,3]
a

0                                 PUEBLA
1                                DURANGO
2                         AGUASCALIENTES
3                       DISTRITO FEDERAL
4                                 PUEBLA
                      ...
18635    VERACRUZ DE IGNACIO DE LA LLAVE
18636                           CAMPECHE
18637    VERACRUZ DE IGNACIO DE LA LLAVE
18638                            SINALOA
18639                     AGUASCALIENTES
Name: desc_ent, Length: 18640, dtype: object

In [14]:
df.dtypes

folio            int64
intp             int64
entidad          int64
desc_ent        object
sexo             int64
edad             int64
meses            int64
peso           float64
ropa             int64
talla          float64
emb             object
temb            object
cintura        float64
cadera         float64
sistol         float64
diastol        float64
hpresion        object
tbrazo          object
htension        object
PrimaryLast      int64
code_upm        object
est_dis          int64
est_urb          int64
est_marg         int64
pondef         float64
est_var          int64
dtype: object

In [15]:
df.head()

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.5,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.0,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215

In [16]:
df.head(10)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.700,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.650,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.800,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.400,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.950,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
5,241555,3,24,SAN LUIS POTOSI,1,10,7,31.900,1,141.45,...,20:12,1,20:19,1,M2435,5,3,1,588.463281,245
6,211879,2,21,PUEBLA,2,10,9,31.950,2,134.95,...,22:22,2,15:11,1,M2144,1,1,1,1879.750532,211
7,80135,3,8,CHIHUAHUA,2,11,9,32.400,1,136.60,...,18:32,3,18:32,1,M0804,7,1,1,589.164005,85
8,240207,4,24,SAN LUIS POTOSI,2,12,2,71.700,1,148.25,...,17:15,3,22:22,1,M2405,5,3,1,1122.094618,245
9,31220,3,3,BAJA CALIFORNIA SUR,1,10,10,48.025,1,147.05,...,17:09,2,17:09,1,M0331,5,3,1,138.063636,35

In [17]:
df.tail()

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [18]:
df.head(60)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.700,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.650,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.800,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.400,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.950,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
5,241555,3,24,SAN LUIS POTOSI,1,10,7,31.900,1,141.45,...,20:12,1,20:19,1,M2435,5,3,1,588.463281,245
6,211879,2,21,PUEBLA,2,10,9,31.950,2,134.95,...,22:22,2,15:11,1,M2144,1,1,1,1879.750532,211
7,80135,3,8,CHIHUAHUA,2,11,9,32.400,1,136.60,...,18:32,3,18:32,1,M0804,7,1,1,589.164005,85
8,240207,4,24,SAN LUIS POTOSI,2,12,2,71.700,1,148.25,...,17:15,3,22:22,1,M2405,5,3,1,1122.094618,245
9,31220,3,3,BAJA CALIFORNIA SUR,1,10,10,48.025,1,147.05,...,17:09,2,17:09,1,M0331,5,3,1,138.063636,35
10,110077,3,11,GUANAJUATO,2,12,6,42.300,2,156.70,...,9:00,1,9:10,1,M1103,3,2,1,1632.280024,113
11,31512,3,3,BAJA CALIFORNIA SUR,2,10,5,48.425,2,161.45,...,15:20,3,15:30,1,M0335,3,2,1,263.880378,33
12,91124,4,9,DISTRITO FEDERAL,2,42,2,80.600,1,149.85,...,8:19,1,8:19,1,R0910,4,3,2,6382.453478,94
13,200776,4,20,OAXACA,2,12,2,38.000,1,154.00,...,10:40,1,10:40,1,R2008,2,1,2,403.199964,202
14,320654,3,32,ZACATECAS,2,11,7,61.850,1,155.75,...,10:10,1,10:20,1,M3217,5,3,1,813.151244,325
15,171667,2,17,MORELOS,2,15,6,44.950,2,155.00,...,15:38,3,15:38,1,M1738,3,2,1,493.973293,173
16,311840,2,31,YUCATAN,2,49,5,69.700,2,143.30,...,21:45,3,21:00,1,M3146,2,1,2,521.918931,312
17,320763,4,32,ZACATECAS,1,11,3,31.500,1,140.65,...,12:40,1,12:55,1,M3220,3,2,1,1285.844656,323
18,90876,2,9,DISTRITO FEDERAL,2,46,1,65.100,2,150.20,...,14:34,3,14:34,1,M0918,4,3,2,4192.474290,94
19,161618,3,16,MICHOACAN DE OCAMPO,2,11,10,23.375,2,126.00,...,11:10,3,11:10,1,M1642,3,2,1,2631.227543,163
20,211461,6,21,PUEBLA,2,11,5,42.775,1,150.55,...,21:00,1,21:00,1,M2133,5,3,1,1582.810534,215
21,261348,5,26,SONORA,1,11,7,59.850,2,146.50,...,7:00,2,7:10,1,M2632,2,1,2,737.343409,262
22,20408,2,2,BAJA CALIFORNIA,2,80,1,47.450,1,144.10,...,13:00,3,13:00,1,M0206,4,2,2,774.351952,24
23,30200,4,3,BAJA CALIFORNIA SUR,2,10,5,34.000,1,141.20,...,9:25,3,9:30,1,M0302,2,1,2,159.323630,32
24,40709,3,4,CAMPECHE,2,11,11,41.775,1,149.05,...,17:00,3,17:10,1,M0405,2,1,2,82.543652,42
25,50622,4,5,COAHUILA DE ZARAGOZA,2,10,4,28.600,2,136.55,...,18:45,3,18:50,1,M0515,4,2,2,752.978849,54
26,60130,4,6,COLIMA,2,13,7,49.175,2,158.40,...,4:30,3,4:30,1,M0601,2,1,2,94.114362,62
27,60407,3,6,COLIMA,1,10,3,43.100,2,141.10,...,13:40,3,13:40,1,M0611,5,3,1,254.130253,65
28,70578,5,7,CHIAPAS,1,10,0,25.400,1,120.80,...,7:00,3,7:10,1,M0714,2,1,2,1354.912441,72
29,71062,3,7,CHIAPAS,2,17,7,65.400,1,153.40,...,18:00,3,18:00,1,M0729,3,2,1,1206.700248,73
30,91296,5,9,DISTRITO FEDERAL,2,10,5,24.450,1,138.00,...,11:30,1,11:40,1,M0927,3,3,1,5289.906029,93
31,91646,5,9,DISTRITO FEDERAL,2,11,11,43.000,2,150.20,...,17:20,3,17:25,1,M0933,5,3,1,3038.476665,95
32,121138,2,12,GUERRERO,2,49,4,62.800,2,148.85,...,19:22,1,19:43,1,M1226,1,1,1,1811.257118,121
33,130322,3,13,HIDALGO,2,10,0,29.025,2,128.30,...,17:30,3,17:30,1,M1309,1,1,1,885.983183,131
34,130889,3,13,HIDALGO,2,32,3,76.100,1,153.65,...,19:50,3,19:50,1,M1324,5,3,1,1561.578411,135
35,131390,3,13,HIDALGO,1,10,4,37.200,2,134.80,...,1:30,3,1:30,1,M1336,1,1,1,686.215743,131
36,151397,7,15,MEXICO,2,11,11,50.900,1,158.75,...,14:00,3,14:00,1,R1512,6,3,2,3497.665397,156
37,151476,3,15,MEXICO,2,11,4,25.450,1,130.60,...,16:30,3,16:00,1,M1531,2,1,2,1209.831991,152
38,151918,3,15,MEXICO,1,11,8,51.500,2,145.40,...,19:00,3,19:01,1,M1540,5,3,1,4755.978350,155
39,170141,5,17,MORELOS,1,10,11,25.550,1,126.60,...,14:55,3,14:55,1,M1702,2,1,2,196.755820,172
40,171032,3,17,MORELOS,2,10,5,26.400,2,136.00,...,9:29,3,9:29,1,M1723,5,3,1,1205.220959,175
41,171224,5,17,MORELOS,2,10,1,32.750,1,134.55,...,14:00,3,14:00,1,M1727,4,2,2,682.632333,174
42,171380,2,17,MORELOS,2,19,2,51.500,1,150.10,...,14:45,3,14:30,1,M1731,5,3,1,408.152252,175
43,201202,3,20,OAXACA,2,12,2,38.900,1,147.05,...,14:00,3,14:00,1,M2029,1,1,1,662.790822,201
44,220064,5,22,QUERETARO,1,13,3,47.050,1,145.30,...,13:00,3,13:15,1,M2202,2,1,2,873.428928,222
45,241143,2,24,SAN LUIS POTOSI,1,11,7,36.050,1,139.90,...,19:48,3,19:58,1,M2428,5,3,1,586.829993,245
46,241205,1,24,SAN LUIS POTOSI,2,44,9,49.500,1,166.25,...,9:43,3,9:53,1,M2429,5,3,1,644.123436,245
47,250858,3,25,SINALOA,1,10,2,38.650,1,139.60,...,17:00,3,17:00,1,M2515,2,1,2,277.916662,252
48,251861,4,25,SINALOA,1,12,6,39.900,1,162.25,...,16:10,3,16:10,1,M2547,4,2,2,367.934400,254
49,260980,3,26,SONORA,2,10,4,43.200,2,149.00,...,20:00,1,20:15,1,M2624,5,3,1,3105.680632,265
50,31339,2,3,BAJA CALIFORNIA SUR,2,19,9,83.750,2,157.20,...,3:54,1,16:31,1,M0317,2,1,2,71.782599,32
51,70393,5,7,CHIAPAS,1,10,5,28.750,1,131.80,...,20:00,3,20:00,1,M0710,6,3,2,40.119313,75
52,70988,3,7,CHIAPAS,1,10,2,30.050,2,128.95,...,9:15,3,9:10,1,M0725,2,1,2,426.489581,72
53,81675,3,8,CHIHUAHUA,2,11,3,51.000,1,158.90,...,16:13,3,16:13,1,M0836,5,3,1,1407.178270,85
54,90968,5,9,DISTRITO FEDERAL,2,18,0,71.300,1,159.70,...,7:30,3,7:30,1,M0921,4,3,2,1631.873423,94
55,92072,4,9,DISTRITO FEDERAL,1,14,0,44.150,1,155.30,...,18:30,3,18:30,1,M0943,1,3,1,4722.262462,91
56,281885,3,28,TAMAULIPAS,1,14,11,57.300,2,166.50,...,11:20,3,11:20,1,M2840,5,3,1,799.373482,285
57,291416,6,29,TLAXCALA,1,10,3,26.400,2,129.20,...,22:22,2,18:22,1,M2935,2,1,2,413.512433,292
58,291931,4,29,TLAXCALA,1,10,0,42.350,2,148.80,...,13:30,1,13:42,1,M2948,6,3,2,148.123522,296
59,130214,7,13,HIDALGO,1,11,11,41.500,2,148.40,...,7:00,1,7:10,1,M1306,5,3,1,854.858610,135

## iloc

In [19]:
#df.iloc[RI:RF, CI:CF]

In [20]:
df.iloc[0:2]

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101

In [21]:
df.iloc[20:30]

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
20,211461,6,21,PUEBLA,2,11,5,42.775,1,150.55,...,21:00,1,21:00,1,M2133,5,3,1,1582.810534,215
21,261348,5,26,SONORA,1,11,7,59.850,2,146.50,...,7:00,2,7:10,1,M2632,2,1,2,737.343409,262
22,20408,2,2,BAJA CALIFORNIA,2,80,1,47.450,1,144.10,...,13:00,3,13:00,1,M0206,4,2,2,774.351952,24
23,30200,4,3,BAJA CALIFORNIA SUR,2,10,5,34.000,1,141.20,...,9:25,3,9:30,1,M0302,2,1,2,159.323630,32
24,40709,3,4,CAMPECHE,2,11,11,41.775,1,149.05,...,17:00,3,17:10,1,M0405,2,1,2,82.543652,42
25,50622,4,5,COAHUILA DE ZARAGOZA,2,10,4,28.600,2,136.55,...,18:45,3,18:50,1,M0515,4,2,2,752.978849,54
26,60130,4,6,COLIMA,2,13,7,49.175,2,158.40,...,4:30,3,4:30,1,M0601,2,1,2,94.114362,62
27,60407,3,6,COLIMA,1,10,3,43.100,2,141.10,...,13:40,3,13:40,1,M0611,5,3,1,254.130253,65
28,70578,5,7,CHIAPAS,1,10,0,25.400,1,120.80,...,7:00,3,7:10,1,M0714,2,1,2,1354.912441,72
29,71062,3,7,CHIAPAS,2,17,7,65.400,1,153.40,...,18:00,3,18:00,1,M0729,3,2,1,1206.700248,73

In [22]:
df.iloc[[20,22,30]]

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
20,211461,6,21,PUEBLA,2,11,5,42.775,1,150.55,...,21:00,1,21:00,1,M2133,5,3,1,1582.810534,215
22,20408,2,2,BAJA CALIFORNIA,2,80,1,47.450,1,144.10,...,13:00,3,13:00,1,M0206,4,2,2,774.351952,24
30,91296,5,9,DISTRITO FEDERAL,2,10,5,24.450,1,138.00,...,11:30,1,11:40,1,M0927,3,3,1,5289.906029,93

In [23]:
df.iloc[:, 5:10]

       edad  meses   peso  ropa   talla
0        38      8  73.70     2  146.40
1        11     11  35.65     2  145.10
2        18      8  54.80     1  162.00
3        10      8  33.40     2  146.50
4        19      3  97.95     2  161.00
...     ...    ...    ...   ...     ...
18635    73     11  75.80     1  141.15
18636    75      0  69.40     1  144.80
18637    86      7  46.75     2  149.20
18638    72      7  59.05     2  142.50
18639    71      8  80.00     2  150.65

[18640 rows x 5 columns]

In [24]:
df.iloc[:,[2,5,8]]

       entidad  edad  ropa
0           21    38     2
1           10    11     2
2            1    18     1
3            9    10     2
4           21    19     2
...        ...   ...   ...
18635       30    73     1
18636        4    75     1
18637       30    86     2
18638       25    72     2
18639        1    71     2

[18640 rows x 3 columns]

In [25]:
clasificacion1 = df.iloc[:,[2, 4, 5, 7]]
clasificacion1

       entidad  sexo  edad   peso
0           21     2    38  73.70
1           10     2    11  35.65
2            1     2    18  54.80
3            9     1    10  33.40
4           21     2    19  97.95
...        ...   ...   ...    ...
18635       30     2    73  75.80
18636        4     2    75  69.40
18637       30     1    86  46.75
18638       25     2    72  59.05
18639        1     2    71  80.00

[18640 rows x 4 columns]

In [26]:
df.groupby(['entidad', 'desc_ent']).size()

entidad  desc_ent
1        AGUASCALIENTES                     655
2        BAJA CALIFORNIA                    564
3        BAJA CALIFORNIA SUR                530
4        CAMPECHE                           541
5        COAHUILA DE ZARAGOZA               612
6        COLIMA                             599
7        CHIAPAS                            608
8        CHIHUAHUA                          587
9        DISTRITO FEDERAL                   392
10       DURANGO                            580
11       GUANAJUATO                         662
12       GUERRERO                           635
13       HIDALGO                            518
14       JALISCO                            533
15       MEXICO                             453
16       MICHOACAN DE OCAMPO                599
17       MORELOS                            556
18       NAYARIT                            550
19       NUEVO LEON                         648
20       OAXACA                             600
21       PUEBLA                             494
22       QUERETARO                          649
23       QUINTANA ROO                       584
24       SAN LUIS POTOSI                    735
25       SINALOA                            503
26       SONORA                             598
27       TABASCO                            602
28       TAMAULIPAS                         626
29       TLAXCALA                           540
30       VERACRUZ DE IGNACIO DE LA LLAVE    716
31       YUCATAN                            578
32       ZACATECAS                          593
dtype: int64

In [27]:
df_total_habitantes = df.groupby(['entidad', 'desc_ent']).size()
df_total_habitantes

entidad  desc_ent
1        AGUASCALIENTES                     655
2        BAJA CALIFORNIA                    564
3        BAJA CALIFORNIA SUR                530
4        CAMPECHE                           541
5        COAHUILA DE ZARAGOZA               612
6        COLIMA                             599
7        CHIAPAS                            608
8        CHIHUAHUA                          587
9        DISTRITO FEDERAL                   392
10       DURANGO                            580
11       GUANAJUATO                         662
12       GUERRERO                           635
13       HIDALGO                            518
14       JALISCO                            533
15       MEXICO                             453
16       MICHOACAN DE OCAMPO                599
17       MORELOS                            556
18       NAYARIT                            550
19       NUEVO LEON                         648
20       OAXACA                             600
21       PUEBLA                             494
22       QUERETARO                          649
23       QUINTANA ROO                       584
24       SAN LUIS POTOSI                    735
25       SINALOA                            503
26       SONORA                             598
27       TABASCO                            602
28       TAMAULIPAS                         626
29       TLAXCALA                           540
30       VERACRUZ DE IGNACIO DE LA LLAVE    716
31       YUCATAN                            578
32       ZACATECAS                          593
dtype: int64

## Escribir en archivos

In [28]:
df_total_habitantes.to_csv('total_habitantes_entidad.csv', encoding = 'utf-8')

In [29]:
path2 = 'total_habitantes_entidad.csv'
df2 = pd.read_csv(path2)
df2

    entidad                         desc_ent    0
0         1                   AGUASCALIENTES  655
1         2                  BAJA CALIFORNIA  564
2         3              BAJA CALIFORNIA SUR  530
3         4                         CAMPECHE  541
4         5             COAHUILA DE ZARAGOZA  612
5         6                           COLIMA  599
6         7                          CHIAPAS  608
7         8                        CHIHUAHUA  587
8         9                 DISTRITO FEDERAL  392
9        10                          DURANGO  580
10       11                       GUANAJUATO  662
11       12                         GUERRERO  635
12       13                          HIDALGO  518
13       14                          JALISCO  533
14       15                           MEXICO  453
15       16              MICHOACAN DE OCAMPO  599
16       17                          MORELOS  556
17       18                          NAYARIT  550
18       19                       NUEVO LEON  648
19       20                           OAXACA  600
20       21                           PUEBLA  494
21       22                        QUERETARO  649
22       23                     QUINTANA ROO  584
23       24                  SAN LUIS POTOSI  735
24       25                          SINALOA  503
25       26                           SONORA  598
26       27                          TABASCO  602
27       28                       TAMAULIPAS  626
28       29                         TLAXCALA  540
29       30  VERACRUZ DE IGNACIO DE LA LLAVE  716
30       31                          YUCATAN  578
31       32                        ZACATECAS  593

In [30]:
df_total_habitantes.to_excel('total_habitantes_entidad.xlsx', encoding = 'utf-8')

In [31]:
df_total_habitantes.to_csv('total_habitantes_entidad.txt', encoding = 'utf-8')

In [32]:
semanai = 'hola cómo están todos mis niños'
semanai

'hola cómo están todos mis niños'

In [33]:
semanai = pd.Series('hola cómo están todos mis niños')
semanai

0    hola cómo están todos mis niños
dtype: object

In [34]:
semanai.to_csv('pueba.csv', encoding = 'utf-8')

### loc vs iloc

In [35]:
df.loc[2:5, 'edad']

2    18
3    10
4    19
5    10
Name: edad, dtype: int64

In [36]:
df.iloc[2:6, 5]

2    18
3    10
4    19
5    10
Name: edad, dtype: int64

In [37]:
df.loc[2:6, 'desc_ent': 'edad']

           desc_ent  sexo  edad
2    AGUASCALIENTES     2    18
3  DISTRITO FEDERAL     1    10
4            PUEBLA     2    19
5   SAN LUIS POTOSI     1    10
6            PUEBLA     2    10

In [38]:
df.loc[2:, 'desc_ent': 'edad']

                              desc_ent  sexo  edad
2                       AGUASCALIENTES     2    18
3                     DISTRITO FEDERAL     1    10
4                               PUEBLA     2    19
5                      SAN LUIS POTOSI     1    10
6                               PUEBLA     2    10
...                                ...   ...   ...
18635  VERACRUZ DE IGNACIO DE LA LLAVE     2    73
18636                         CAMPECHE     2    75
18637  VERACRUZ DE IGNACIO DE LA LLAVE     1    86
18638                          SINALOA     2    72
18639                   AGUASCALIENTES     2    71

[18638 rows x 3 columns]

In [39]:
clasificacion1 = df.iloc[:, [2,3,5,7]]
clasificacion1

       entidad                         desc_ent  edad   peso
0           21                           PUEBLA    38  73.70
1           10                          DURANGO    11  35.65
2            1                   AGUASCALIENTES    18  54.80
3            9                 DISTRITO FEDERAL    10  33.40
4           21                           PUEBLA    19  97.95
...        ...                              ...   ...    ...
18635       30  VERACRUZ DE IGNACIO DE LA LLAVE    73  75.80
18636        4                         CAMPECHE    75  69.40
18637       30  VERACRUZ DE IGNACIO DE LA LLAVE    86  46.75
18638       25                          SINALOA    72  59.05
18639        1                   AGUASCALIENTES    71  80.00

[18640 rows x 4 columns]

In [40]:
clasificacion1 = df.iloc[:, [2, 3, 5, 7, 12, 13]]
clasificacion1

       entidad                         desc_ent  edad   peso  cintura  cadera
0           21                           PUEBLA    38  73.70    98.70   106.0
1           10                          DURANGO    11  35.65    64.00    75.0
2            1                   AGUASCALIENTES    18  54.80    67.60    94.3
3            9                 DISTRITO FEDERAL    10  33.40    60.60    72.2
4           21                           PUEBLA    19  97.95   113.00   127.0
...        ...                              ...   ...    ...      ...     ...
18635       30  VERACRUZ DE IGNACIO DE LA LLAVE    73  75.80    93.00   113.0
18636        4                         CAMPECHE    75  69.40   103.05   113.7
18637       30  VERACRUZ DE IGNACIO DE LA LLAVE    86  46.75    71.35    86.0
18638       25                          SINALOA    72  59.05    99.95    94.8
18639        1                   AGUASCALIENTES    71  80.00   108.15   120.0

[18640 rows x 6 columns]

In [41]:
clasificacion2= df.loc[:,'entidad']
clasificacion2

0        21
1        10
2         1
3         9
4        21
         ..
18635    30
18636     4
18637    30
18638    25
18639     1
Name: entidad, Length: 18640, dtype: int64

In [42]:
clasificacion1.to_csv('clasificacion1.csv', encoding = 'utf-8')

In [43]:
df.sexo.unique()
#clasificacion1.sexo.unique() funciona igual que data frame

array([2, 1])

In [44]:
df.desc_ent.unique()

array(['PUEBLA', 'DURANGO', 'AGUASCALIENTES', 'DISTRITO FEDERAL',
       'SAN LUIS POTOSI', 'CHIHUAHUA', 'BAJA CALIFORNIA SUR',
       'GUANAJUATO', 'OAXACA', 'ZACATECAS', 'MORELOS', 'YUCATAN',
       'MICHOACAN DE OCAMPO', 'SONORA', 'BAJA CALIFORNIA', 'CAMPECHE',
       'COAHUILA DE ZARAGOZA', 'COLIMA', 'CHIAPAS', 'GUERRERO', 'HIDALGO',
       'MEXICO', 'QUERETARO', 'SINALOA', 'TAMAULIPAS', 'TLAXCALA',
       'NAYARIT', 'TABASCO', 'VERACRUZ DE IGNACIO DE LA LLAVE',
       'NUEVO LEON', 'QUINTANA ROO', 'JALISCO'], dtype=object)

In [45]:
df.edad.unique()

array([ 38,  11,  18,  10,  19,  12,  42,  15,  49,  46,  80,  13,  17,
        32,  44,  14,  36,  16,  27,  48,  20,  43,  26,  34,  59,  41,
        40,  24,  39,  52,  30,  83,  25,  28,  70,  22,  54,  29,  67,
        21,  23,  35,  45,  64,  33,  31,  50,  37,  73,  75, 100,  56,
        62,  51,  47,  82,  53,  89,  74,  72,  68,  58,  61,  71,  85,
        77,  57,  65,  63,  78,  55,  88,  66,  60,  81,  79,  90,  87,
        84,  69,  94,  86,  93,  76,  92,  91,  96,  95,  99,  97, 104])

In [46]:
sorted(df.edad.unique())

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 104]

In [47]:
df.groupby(['sexo']).size()

sexo
1     8154
2    10486
dtype: int64

In [48]:
mujer = df[df.sexo == 2]
mujer

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
6,211879,2,21,PUEBLA,2,10,9,31.95,2,134.95,...,22:22,2,15:11,1,M2144,1,1,1,1879.750532,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18633,160939,1,16,MICHOACAN DE OCAMPO,2,58,5,75.40,2,152.50,...,16:00,1,16:15,1,M1627,3,2,1,2297.639408,163
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [49]:
mujer.groupby(['sexo']).mean()

,folio,intp,entidad,edad,meses,peso,ropa,talla,cintura,cadera,sistol,diastol,PrimaryLast,est_dis,est_urb,est_marg,pondef,est_var
sexo,,,,,,,,,,,,,,,,,,
2,168861.379268,2.426187,16.78457,35.086401,5.415792,62.700503,1.565611,152.219369,88.0063,99.936542,117.202007,74.936129,1.0,3.570189,2.069903,1.396147,1480.588977,171.374881

In [50]:
df.groupby(['sexo']).mean()

,folio,intp,entidad,edad,meses,peso,ropa,talla,cintura,cadera,sistol,diastol,PrimaryLast,est_dis,est_urb,est_marg,pondef,est_var
sexo,,,,,,,,,,,,,,,,,,
1,166919.302306,2.296051,16.589649,33.470812,5.422369,67.131228,1.566838,162.138122,87.502601,95.064745,120.109180,76.265299,1.0,3.561197,2.056291,1.410596,1642.147477,169.413907
2,168861.379268,2.426187,16.784570,35.086401,5.415792,62.700503,1.565611,152.219369,88.006300,99.936542,117.202007,74.936129,1.0,3.570189,2.069903,1.396147,1480.588977,171.374881

In [51]:
df['sexo'] = df['sexo'].replace({1:'Hombre', 2:'Mujer'})
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,Mujer,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,Mujer,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,Mujer,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,Hombre,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,Mujer,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,Mujer,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,Mujer,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,Mujer,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [52]:
df['desc_ent'] = df['desc_ent'].replace({'DISTRITO FEDERAL' : 'CIUDAD DE MEXICO', 'MEXICO' : 'ESTADO DE MEXICO'})
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,Mujer,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,Mujer,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,Mujer,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,CIUDAD DE MEXICO,Hombre,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,Mujer,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,Mujer,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,Mujer,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,Mujer,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [53]:
estados = df[df['desc_ent'] != 'CIUDAD DE MEXICO']
estados

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,Mujer,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,Mujer,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,Mujer,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
4,210939,3,21,PUEBLA,Mujer,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
5,241555,3,24,SAN LUIS POTOSI,Hombre,10,7,31.90,1,141.45,...,20:12,1,20:19,1,M2435,5,3,1,588.463281,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,Mujer,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,Mujer,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,Mujer,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [54]:
sorted(estados['desc_ent'].unique())

['AGUASCALIENTES',
 'BAJA CALIFORNIA',
 'BAJA CALIFORNIA SUR',
 'CAMPECHE',
 'CHIAPAS',
 'CHIHUAHUA',
 'COAHUILA DE ZARAGOZA',
 'COLIMA',
 'DURANGO',
 'ESTADO DE MEXICO',
 'GUANAJUATO',
 'GUERRERO',
 'HIDALGO',
 'JALISCO',
 'MICHOACAN DE OCAMPO',
 'MORELOS',
 'NAYARIT',
 'NUEVO LEON',
 'OAXACA',
 'PUEBLA',
 'QUERETARO',
 'QUINTANA ROO',
 'SAN LUIS POTOSI',
 'SINALOA',
 'SONORA',
 'TABASCO',
 'TAMAULIPAS',
 'TLAXCALA',
 'VERACRUZ DE IGNACIO DE LA LLAVE',
 'YUCATAN',
 'ZACATECAS']

In [55]:
estados = df[df['desc_ent'] != 'CIUDAD DE MEXICO']

In [56]:
estado = df[df['desc_ent'] != 'CIUDAD DE MEXICO']
estado

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,Mujer,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,Mujer,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,Mujer,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
4,210939,3,21,PUEBLA,Mujer,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
5,241555,3,24,SAN LUIS POTOSI,Hombre,10,7,31.90,1,141.45,...,20:12,1,20:19,1,M2435,5,3,1,588.463281,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,Mujer,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,Mujer,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,Mujer,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [57]:
estados = df[df['desc_ent'] != 'CIUDAD DE MEXICO']
estados

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,Mujer,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,Mujer,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,Mujer,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
4,210939,3,21,PUEBLA,Mujer,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
5,241555,3,24,SAN LUIS POTOSI,Hombre,10,7,31.90,1,141.45,...,20:12,1,20:19,1,M2435,5,3,1,588.463281,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,Mujer,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,Mujer,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,Mujer,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

## Uso de funciones estadísticas de Pandas

In [58]:
df['peso'].max()

170.6

In [59]:
df['peso'].min()

18.0

In [60]:
df['edad'].min()

10

In [61]:
print('1', df['peso'].max())
print ('2', df.peso.max())
print ('3', df.loc[:, 'peso'].max())
print ('4', df.iloc[:, 7].max())

1 170.6
2 170.6
3 170.6
4 170.6

In [62]:
# desv esta peso 2 decimales

round(df['peso'].std(),2)

17.66

## Detección de missing values

In [63]:
print('valores perdidos', pd.isnull(df['peso'].sum()))
print('valores no presentes', pd.notnull(df['peso'].sum()))

valores perdidos False
valores no presentes True

In [64]:
print('valores perdidos', pd.isnull(df.peso).sum())
print('valores no presentes', pd.notnull(df.peso).sum())

valores perdidos 0
valores no presentes 18640

In [65]:
print('valores perdidos', pd.isnull(df.cintura).sum())
print('valores no presentes', pd.notnull(df.cintura).sum())

valores perdidos 608
valores no presentes 18032

In [66]:
print('valores perdidos', pd.isnull(df.cadera).sum())
print('valores no presentes', pd.notnull(df.cadera).sum())

valores perdidos 608
valores no presentes 18032

In [67]:
df.isnull().sum()

folio            0
intp             0
entidad          0
desc_ent         0
sexo             0
edad             0
meses            0
peso             0
ropa             0
talla            0
emb              0
temb             0
cintura        608
cadera         608
sistol           0
diastol          0
hpresion         0
tbrazo           0
htension         0
PrimaryLast      0
code_upm         0
est_dis          0
est_urb          0
est_marg         0
pondef           0
est_var          0
dtype: int64

In [68]:
df['cintura'].describe()

count    18032.000000
mean        87.778529
std         16.950062
min         11.900000
25%         76.000000
50%         87.250000
75%         98.000000
max        222.220000
Name: cintura, dtype: float64

In [69]:
mediana = df['cintura'].median()
mediana

87.25

In [70]:
# import numpy as np
df['cintura'].replace(np.nan, mediana, inplace=True)

# df['cintura'].repalce(np.nan, df['cintura'].median())

In [71]:
df['cintura'].mean()

87.76128969957023

In [72]:
df.isnull().sum()

folio            0
intp             0
entidad          0
desc_ent         0
sexo             0
edad             0
meses            0
peso             0
ropa             0
talla            0
emb              0
temb             0
cintura          0
cadera         608
sistol           0
diastol          0
hpresion         0
tbrazo           0
htension         0
PrimaryLast      0
code_upm         0
est_dis          0
est_urb          0
est_marg         0
pondef           0
est_var          0
dtype: int64

In [73]:
df['cintura'].replace(np.nan, mediana, inplace=True)

In [74]:
df.isnull().sum()

folio            0
intp             0
entidad          0
desc_ent         0
sexo             0
edad             0
meses            0
peso             0
ropa             0
talla            0
emb              0
temb             0
cintura          0
cadera         608
sistol           0
diastol          0
hpresion         0
tbrazo           0
htension         0
PrimaryLast      0
code_upm         0
est_dis          0
est_urb          0
est_marg         0
pondef           0
est_var          0
dtype: int64

In [84]:
a = df.loc[:, ['entidad', 'desc_ent', 'sexo', 'edad', 'peso', 'cintura', 'cadera']]
a.isnull().sum()

entidad       0
desc_ent      0
sexo          0
edad          0
peso          0
cintura       0
cadera      608
dtype: int64

In [89]:
# axis=0 significa eliminar renglones de datos perdidos
# axis=1 eliminar columnas de datos perdidos 

a.dropna(axis=1, inplace=True)
a

,entidad,desc_ent,sexo,edad,peso,cintura,cadera
0,21,PUEBLA,Mujer,38,73.70,98.70,106.0
1,10,DURANGO,Mujer,11,35.65,64.00,75.0
2,1,AGUASCALIENTES,Mujer,18,54.80,67.60,94.3
3,9,CIUDAD DE MEXICO,Hombre,10,33.40,60.60,72.2
4,21,PUEBLA,Mujer,19,97.95,113.00,127.0
...,...,...,...,...,...,...,...
18635,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,75.80,93.00,113.0
18636,4,CAMPECHE,Mujer,75,69.40,103.05,113.7
18637,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,46.75,71.35,86.0
18638,25,SINALOA,Mujer,72,59.05,99.95,94.8
18639,1,AGUASCALIENTES,Mujer,71,80.00,108.15,120.0

In [91]:
a.isnull().sum()

entidad     0
desc_ent    0
sexo        0
edad        0
peso        0
cintura     0
cadera      0
dtype: int64

## Cambiar nombre a las columnas

In [75]:
a = df.loc[:,['entidad', 'desc_ent', 'sexo', 'edad', 'peso', 'cintura', 'cadera']]
a

,entidad,desc_ent,sexo,edad,peso,cintura,cadera
0,21,PUEBLA,Mujer,38,73.70,98.70,106.0
1,10,DURANGO,Mujer,11,35.65,64.00,75.0
2,1,AGUASCALIENTES,Mujer,18,54.80,67.60,94.3
3,9,CIUDAD DE MEXICO,Hombre,10,33.40,60.60,72.2
4,21,PUEBLA,Mujer,19,97.95,113.00,127.0
...,...,...,...,...,...,...,...
18635,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,75.80,93.00,113.0
18636,4,CAMPECHE,Mujer,75,69.40,103.05,113.7
18637,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,46.75,71.35,86.0
18638,25,SINALOA,Mujer,72,59.05,99.95,94.8
18639,1,AGUASCALIENTES,Mujer,71,80.00,108.15,120.0

In [76]:
a.columns = ['nombre1', 'nombre2', 'nombre3', 'nombre4', 'nombre5', 'nombre6', 'nombre7']

In [77]:
a

,nombre1,nombre2,nombre3,nombre4,nombre5,nombre6,nombre7
0,21,PUEBLA,Mujer,38,73.70,98.70,106.0
1,10,DURANGO,Mujer,11,35.65,64.00,75.0
2,1,AGUASCALIENTES,Mujer,18,54.80,67.60,94.3
3,9,CIUDAD DE MEXICO,Hombre,10,33.40,60.60,72.2
4,21,PUEBLA,Mujer,19,97.95,113.00,127.0
...,...,...,...,...,...,...,...
18635,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,75.80,93.00,113.0
18636,4,CAMPECHE,Mujer,75,69.40,103.05,113.7
18637,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,46.75,71.35,86.0
18638,25,SINALOA,Mujer,72,59.05,99.95,94.8
18639,1,AGUASCALIENTES,Mujer,71,80.00,108.15,120.0

In [78]:
a = a.rename(columns={'nombre1':'Entidad', 'nombre3':'Género'})
a

,Entidad,nombre2,Género,nombre4,nombre5,nombre6,nombre7
0,21,PUEBLA,Mujer,38,73.70,98.70,106.0
1,10,DURANGO,Mujer,11,35.65,64.00,75.0
2,1,AGUASCALIENTES,Mujer,18,54.80,67.60,94.3
3,9,CIUDAD DE MEXICO,Hombre,10,33.40,60.60,72.2
4,21,PUEBLA,Mujer,19,97.95,113.00,127.0
...,...,...,...,...,...,...,...
18635,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,75.80,93.00,113.0
18636,4,CAMPECHE,Mujer,75,69.40,103.05,113.7
18637,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,46.75,71.35,86.0
18638,25,SINALOA,Mujer,72,59.05,99.95,94.8
18639,1,AGUASCALIENTES,Mujer,71,80.00,108.15,120.0

In [79]:
a.columns = ['Entidad', 'Estado', 'Sexo', 'Edad', 'Peso', 'Cintura', 'Cadera']
a

,Entidad,Estado,Sexo,Edad,Peso,Cintura,Cadera
0,21,PUEBLA,Mujer,38,73.70,98.70,106.0
1,10,DURANGO,Mujer,11,35.65,64.00,75.0
2,1,AGUASCALIENTES,Mujer,18,54.80,67.60,94.3
3,9,CIUDAD DE MEXICO,Hombre,10,33.40,60.60,72.2
4,21,PUEBLA,Mujer,19,97.95,113.00,127.0
...,...,...,...,...,...,...,...
18635,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,75.80,93.00,113.0
18636,4,CAMPECHE,Mujer,75,69.40,103.05,113.7
18637,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,46.75,71.35,86.0
18638,25,SINALOA,Mujer,72,59.05,99.95,94.8
18639,1,AGUASCALIENTES,Mujer,71,80.00,108.15,120.0

In [80]:
a.to_csv('nuevascolumnas.csv', encoding='utf-8')

In [81]:
df_columnas = pd.read_csv('nuevascolumnas.csv')
df_columnas

,Unnamed: 0,Entidad,Estado,Sexo,Edad,Peso,Cintura,Cadera
0,0,21,PUEBLA,Mujer,38,73.70,98.70,106.0
1,1,10,DURANGO,Mujer,11,35.65,64.00,75.0
2,2,1,AGUASCALIENTES,Mujer,18,54.80,67.60,94.3
3,3,9,CIUDAD DE MEXICO,Hombre,10,33.40,60.60,72.2
4,4,21,PUEBLA,Mujer,19,97.95,113.00,127.0
...,...,...,...,...,...,...,...,...
18635,18635,30,VERACRUZ DE IGNACIO DE LA LLAVE,Mujer,73,75.80,93.00,113.0
18636,18636,4,CAMPECHE,Mujer,75,69.40,103.05,113.7
18637,18637,30,VERACRUZ DE IGNACIO DE LA LLAVE,Hombre,86,46.75,71.35,86.0
18638,18638,25,SINALOA,Mujer,72,59.05,99.95,94.8
18639,18639,1,AGUASCALIENTES,Mujer,71,80.00,108.15,120.0